<%= form_tag(controller: "projecttypes", action: "search") do %>
  <%= label_tag(:name, "Search for project types:") %>
  <p>
  	<%= label_tag(:name, "Project types") %><br>
  	<%= text_field_tag(:name) %>
  </p>
  
  <p><%= submit_tag("Search") %></p>
<% end %>