<div id="Show_portfolio_status">
	<h3>
		<%= link_to "Edit",edit_projecttype_path(@projecttype)%>
		<%= link_to "Delete",projecttype_path(@projecttype), method: :delete, data: { confirm: 'Are you sure?' }%>
		<%= link_to "Back",projecttypes_path %>
	</h3>
	<div class="half_width">
		<p>
			<%= label_tag :id %><br>
			<%= @projecttype.id %>
		</p>

		<p>
			<%= label_tag :name%><br>
			<%= @projecttype.name %>
		</p>

		<p>
			<%= label_tag :status%><br>
			<%= @projecttype.status %>
		</p>
	</div>

</div>