<div id="Show_project_status">
	<table>
		<tr>
			<th>Id</th>
			<th>Nmae</th>
			<th>Status</th>
			<th colspan="3">Actions</th>
		</tr>
		<tr>
			<td><%= @projecttype.id%></td>
			<td><%= @projecttype.name%></td>
			<td><%= @projecttype.status%></td>
			<td><%= link_to "Update", edit_projecttype_path(@projecttype)%></td>
			<td><%= link_to "Destroy", projecttype_path(@projecttype), method: :delete, data: { confirm: 'Are you sure?' } %></td>
			<td><%= link_to "Back",projecttypes_path %></td>
		</tr>
	</table>
</div>