<div id="Show_project_mode">
	<table>
		<tr>
			<th>Id</th>
			<th>Nmae</th>
			<th>Status</th>
			<th colspan="3">Actions</th>
		</tr>
		<tr>
			<td><%= @projectmode.id%></td>
			<td><%= @projectmode.name%></td>
			<td><%= @projectmode.status%></td>
			<td><%= link_to "Update", edit_projectmode_path(@projectmode)%></td>
			<td><%= link_to "Destroy", projectmode_path(@projectmode), method: :delete, data: { confirm: 'Are you sure?' } %></td>
			<td><%= link_to "Back",projectmodes_path %></td>
		</tr>
	</table>
</div>