<%= form_for @designation do |f| %>
	<% if @designation.errors.any? %>
		<div id="designation_errors">
			<h2><%= pluralize(@designation.errors.count, "error")%> prohibited this designation from being saved:</h2>
			<ul>
				<% @designation.errors.full_messages.each do |msg| %>
	      			<li><%= msg %></li>
	    		<% end %>
			</ul>
		</div>
	<%end%>

	<p>
		<%= f.label :name%>
		<%= f.text_field :name %>
	</p>
	<p>
		<%= f.label :department%>
		<%= f.collection_select(:department_id, Department.all, :id, :name) %>
	</p>
	<p>
		<%= f.label :status %>
		<%= f.check_box :status %>
	</p>
	<p>
		<%= f.submit %>
	</p>
<% end %>