<div id="project_status_actions">
	<table>
		<tr>
			<td><%= link_to "Add Project Status", new_projectstatus_path %></td>
			<td><%= link_to "Download CSV", projectstatuses_path(format: "csv") %></td>
			<td><%= link_to "Back", projectstatuses_path %></td>
		</tr>
	</table>
</div>

<% if @projectstatuses && @projectstatuses.length > 0 %>
	
	<table>
		<tr>
			<th>
				<%= check_box_tag(:Select_all_locations) %>
				<%= label_tag(:Select_all_locations, "Select All") %>
			</th>
			<th>Id</th>
			<th>Name</th>
			<th>Status</th>
			<th colspan="3">Actions</th>
		</tr>
		<% @projectstatuses.each do |projectstatus| %>
			<tr>
				<td><input type="checkbox" name="sample[]" class="check_location" /></td>
				<td><%= projectstatus.id%></td>
				<td><%= projectstatus.name%></td>
				<td><%= projectstatus.status%></td>
				<td><%= link_to "View", projectstatus_path(projectstatus)%></td>
				<td><%= link_to "Update", edit_projectstatus_path(projectstatus)%></td>
				<td><%= link_to "Destroy", projectstatus_path(projectstatus), method: :delete, data: { confirm: 'Are you sure?' } %></td>
			</tr>
		<%end%>
	</table>
<%else%>
	<div id="no_project_status ">
		<h2>No project status  found</h2>
	</div>
<%end%>