<div id="leaves_index">
	<div id="leaves_actions">
		<table>
			<tr>
				<td><%= link_to "New leave", new_leafe_path %></td>
			</tr>
		</table>
	</div>

	<% if @leaves && @leaves.length>0 %>
		<div id="leaves_list">
			<table>
				<thead>
					<tr>
						<th>
							<%= check_box_tag(:Select_all_LV) %>
        					<%= label_tag(:Select_all_LV, "Select All") %>
						</th>
						<th>Id</th>
						<th>Applicant</th>
						<th colspan="3">Operations</th>
					</tr>
				</thead>
				<tbody>
					<% @leaves.each do |leave| %>
						<tr>
							<td><input type="checkbox" name="sample[]" class="check_LV" /></td>
							<td><%= leave.id%></td>
							<td><%= leave.member.Name%></td>
							<td><%= link_to "View",leave %></td>
							<td><%= link_to "Edit",edit_leafe_path(leave) %></td>
							<td><%= link_to "Destroy",leafe_path(leave),method: :delete, data: {confirm: 'Are you sure?'} %></td>
						</tr>
					<% end %>
				</tbody>
			</table>
		</div>
	<% else %>
		<h4>No leaves found.</h4>
	<% end %>
</div>