<div id="location_actions">
	<table>
		<tr>
			<th><%= link_to "Add Location", new_location_path %></th>
			<th><%= render "search"%></th>
		</tr>
	</table>
</div>

<% if @locations && @locations.length >0 %>
	<div><%= link_to "Download CSV", locations_path(format: "csv") %></div>

	<table>
		<tr>
			<th>
				<%= check_box_tag(:Select_all_locations) %>
				<%= label_tag(:Select_all_locations, "Select All") %>
			</th>
			<th>Id</th>
			<th>Name</th>
			<th>Status</th>
			<th colspan="3">Actions</th>
		</tr>
		<% @locations.each do |location| %>
			<tr>
				<td><input type="checkbox" name="sample[]" class="check_location" /></td>
				<td><%= location.id%></td>
				<td><%= location.name%></td>
				<td><%= location.status%></td>
				<td><%= link_to "View", location_path(location)%></td>
				<td><%= link_to "Update", edit_location_path(location)%></td>
				<td><%= link_to "Destroy", location_path(location), method: :delete, data: { confirm: 'Are you sure?' } %></td>
			</tr>
		<%end%>
	</table>
	<!-- #render page links in the view: -->
	<%= will_paginate @posts %>
<%else%>
	<h3>No locations found</h3>
<%end%>