<div id="availibility_form">
	<%= form_for @availability do |f|%>
		<% if @availability.errors.any? %>
			<h3><%= pluralize(@availability.errors.count, "Error")%> prohibitate this availability to save</h3>
			<ul>
				<% @availability.errors.full_messages.each do |msg|%>
					<li><%= msg %></li>
				<% end %>
			</ul>
		<% end %>

		<div id="availibility_form_elements">
			<p>
				<%= f.label(:name)%>
				<%= f.text_field(:name)%>
			</p>
			<p>
				<%= f.label(:status)%>
				<%= f.check_box(:status)%>
			</p>
			<p>
				<%= f.submit%>
			</p>
		</div>
	<% end %>
</div>