<!DOCTYPE html>
<html>
<head>
  <title>CnMis</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="page" class="container">
	<div id="header">
		<!-- <div align="center" style="padding:5px;"> Demo application Dev:Ismail Guidence: Debobrata Sinha</div> -->
		<div id="logo">MIS</div>
		
		<div id="user_nav">
		  <% if current_user %>
		  	<div id="useractions">
			    Logged in as <%= current_user.email %>.
			    <%= link_to "Log out", log_out_path %>
			    <%= link_to "View account", admin_path(current_user) %>
			    <%= link_to "Update account", edit_admin_path(current_user) %>
			    <%= link_to "Update password", changepassword_admins_path %>
			    
			    <%= link_to 'Destroy account', admin_path(current_user), method: :delete, data: { confirm: 'Are you sure?' } %>
		    </div>
		  <% else %>
		    <%= link_to "Admin Sign up", new_admin_path %> or
		    <%= link_to "Admin log in", log_in_path %>
		    <%= link_to "Forget password ", lostpassword_admins_path %>
		  <% end %>
		</div>

		<% flash.each do |name, msg| %>
		  <%= content_tag :div, msg, :id => "flash_#{name}" %>
		<% end %>

		<div id="mainmenu">
			<ul id="yw0">
			  <li><%= link_to "Home", root_path %></li>
			  <li><%= link_to "Departments" ,departments_path %></li>
			  <li><%= link_to "Designations" ,designation_index_path %></li>
			</ul>
		</div>

	<div id="content">
		<%= yield %>
	</div>
	
	<div class="clear"></div>

	<div id="footer">
			Copyright &copy; 2014 by CN.<br>
			All Rights Reserved.<br>
			Powered by rails Framework.
	</div>
</div>

</body>
</html>
