<div id="add_member_form">
	<%= form_for @member do |f|%>
		<% if @member.errors.any? %>
			<div id="error">
				<%= pluralize(@member.errors.count,"Error")%> prohibited this member form saving.
				<ul>
					<% @member.errors.full_messages.each do |msg|%>
						<li><%= msg %></li>
					<% end %>
				</ul>
			</div>
		<% end %>

		<div id="form_elements">
			<div class="half_width">
				<p>
					<%= f.label :Name %><br>
					<%= f.text_field :Name %>
				</p>

				<p>
					<%= f.label :Email%><br>
					<%= f.email_field(:Email)  %>
				</p>

				<p>
					<%= f.label :department_id%><br>
					<%= f.collection_select(:department_id, Department.all, :id, :name, { :include_blank => true }, { :data => { :remote => true, :url => url_for(:controller => "members", :action => "fetchdesignation") } }) %>
				</p>

				<p>
					<%= f.label :designation_id%><br>
					<%= f.collection_select(:designation_id, Designation.all, :id, :name,:include_blank => false) %>
				</p>


				<p>
					<%= f.label :location_id%><br>
					<%= f.collection_select(:location_id, Location.all, :id, :name,:include_blank => true) %>
				</p>

				<p>
					<%= f.label :Salary %><br>
					<%= f.text_field :Salary %>
				</p>

				<p>
					<%= f.label :Reporting_To%><br>
					<% if @member.id%>
						<%= f.collection_select(:Reporting_To, Member.where("id !=?",@member.id), :id, :Name,:include_blank => "Self / None") %>
					<% else %>
						<%= f.collection_select(:Reporting_To, Member.all, :id, :Name,:include_blank => "Self / None") %>
					<% end %>
				</p>

				<p>
					<%= f.label :hot_Skills%><br>
					<% Skill::all.each do |a_value| %>
						<%= f.check_box(:hot_Skills, { :multiple => true }, a_value.id) %>
						<%= f.label a_value.name%><br>
					<% end %>
				</p>
			</div>
			<div class="half_width">
				<p>
					<%= f.label :Earned_Leave %><br>
					<%= f.number_field(:Earned_Leave, in: 0..10, step: 1) %>
				</p>

				<p>
					<%= f.label :Casual_Leave %><br>
					<%= f.number_field(:Casual_Leave, in: 0..10, step: 1) %>
				</p>

				<p>
					<%= f.label :Sick_Leave %><br>
					<%= f.number_field(:Sick_Leave, in: 0..10, step: 1) %>
				</p>

				<p>
					<%= f.label :Joining_Date %><br>
					<%= f.date_select(:Joining_Date) %>
				</p>

				<p>
					<%= f.label :Confirmation_Date %><br>
					<%= f.date_select(:Confirmation_Date,:include_blank => true) %>
				</p>

				<p>
					<%= f.label :password%><br>
					<%= f.password_field :password %>
				</p>

				<p>
					<%= f.label :password_confirmation%><br>
					<%= f.password_field :password_confirmation %>
				</p>
					
				<p>
					<%= f.submit %>
				</p>
			</div>
			<div class="clear"></div>
		</div>
	<% end %>
</div>