<div id="members_actions">
	<table>
		<tr>
			<td><%= link_to "Add member",new_member_path %></td>
		</tr>
		<tr>
			<td><%= render "search"%></td>
		</tr>
	</table>
</div>

<% if @members && @members.length>0%>
	<p>Download:<%= link_to "CSV", members_path(format: "csv") %></p>
	<div id="member_list">
		<table>
			<tr>
				<th>Id</th>
				<th>Name</th>
				<th>Email</th>
				<th>Reporting_To</th>
				<th>designation</th>
				<th>department</th>
				<th>location</th>
				<th colspan="3">Operations</th>
			</tr>
			<% @members.each do |member|%>
				<tr>
					<td><%= member.id%></td>
					<td><%= member.Name%></td>
					<td><%= member.Email%></td>
					<td><%= member.Reporting_To%></td>
					<td><%= member.designation.name%></td>
					<td><%= member.department.name%></td>
					<td><%= member.location.name%></td>
					<td><%= link_to "View",member_path(member)%></td>
					<td><%= link_to "Edit",edit_member_path(member)%></td>
					<td><%= link_to "Delete",member_path(member), method: :delete, data: { confirm: 'Are you sure?' }%></td>
				</tr>
			<% end %>
		</table>
		<!-- #render page links in the view: -->
		<%= will_paginate @posts %>
	</div>
<% else%>
	<h3>No members found </h3>	
<%end%>